/* Removed Tailwind CSS imports */
/* Add any custom styles here if needed */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items to the top */
  min-width: 100vw; /* Ensures full width */
  min-height: 100vh; /* Ensures full height */
  flex-direction: column; /* Stack elements vertically */
  overflow: auto; /* Allow scrolling when content overflows */
  /* Add these lines to potentially override Tailwind's max-width */
  width: 100%;
  max-width: none; /* This is the key part to remove any limiting max-width */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Fix for images and SVGs */
img,
svg {
  width: 100%; /* Ensures responsiveness */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent overflow */
  max-height: 100%; /* Prevent overflow */
  object-fit: contain; /* Ensures the image is contained within its box */
}

/* SVG specific classes for size control */
svg {
  width: 1.5rem; /* Default size for small icons */
  height: 1.5rem;
  fill: currentColor; /* Ensures icon colors adapt to text color */
}

/* Adjust SVG sizes globally if needed */
.icon-size-small {
  width: 1rem;
  height: 1rem;
}

.icon-size-medium {
  width: 2rem;
  height: 2rem;
}

.icon-size-large {
  width: 3rem;
  height: 3rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
